@model NowDelivary.ViewModel.DelivarymanVM

@{
    ViewData["Title"] = "CustomerInformation";
}

    <div class="container">
        <div class="card text-white bg-info">
            <div class="card-header">
                <h3>Mr. @Model.GetCustomerInformation(ViewData["customer"].ToString()).Email</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title"><b><u>Area</u></b> : @Model.GetAreaByAddress(Model.GetCustomerAddress(ViewData["customer"].ToString()).ID).AreaName</h5>
                <p class="card-text"><b><u>Address</u></b> : @Model.GetCustomerAddress(ViewData["customer"].ToString()).Description</p>
                <p class="card-text"><b><u>Special Mark</u></b> : @Model.GetCustomerAddress(ViewData["customer"].ToString()).SpecialMark</p>
                <p class="card-text"><b><u>Phone Number</u></b> : @Model.GetCustomerInformation(ViewData["customer"].ToString()).PhoneNumber</p>
                <p class="card-text"><b><u>Email</u></b> : @Model.GetCustomerInformation(ViewData["customer"].ToString()).UserName</p>
            </div>
        </div>

    </div>